{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    Flex auth type
    <table>
        {% for key, value in selectedType %}
        <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        {% if user %}
            Logged user as {{ user.username }}. <a href="/logout">Logout</a>
        {% else %}
            <form action="/" method="POST">
                <div>
                    Select flex auth type
                    <select name="type" onchange="event.target.closest('form').submit()">
                        <option></option>
                        {% for key, type in types %}
                            <option {% if selectedType.type == key %}selected {% endif %}value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    Password encoder
                    <select name="encoder" onchange="event.target.closest('form').submit()">
                        <option></option>
                        {% for encoder in encoders %}
                            <option {% if selectedType.encoder == encoder %}selected {% endif %} value="{{ encoder }}">{{ encoder }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>

            <div>
                Guest. <a href="{% if isJWT  %}/{% else %}/login{% endif %}">Login</a>
            </div>
        {% endif %}
    </div>


    <style>
        table {
            border: 1px solid #aaaeb2;
        }
    </style>
{% endblock %}